body {
    font-family: 'Lato', sans-serif;
    background-color:  #002f53;
    color: #dcdde1;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    background-color:  #00182b;
    padding: 60px 20px;
    border-bottom: 5px solid #bc3beb;
}
header h1 {
    font-family: "Potta One", system-ui;
  font-weight: 400;
  font-size: 50px;
    color: #f5f6fa;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    }
header p {
    margin-top: 10px;
    font-size: 1.2em;
    color: #30fee9;
     font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
}
.nav-links {
    font-family: "Gamja Flower", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    gap: 32px;
    padding: 16px;
    i
}
nav {
    margin-top: 10px;
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
.class{
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 20px;
}
.section {
    display: inline-block; 
    width: 300px;
    margin: 15px;
    background-color: #003d93;
    border: 2px solid #30dffe;
    border-radius: 12px;
    overflow: hidden;
    text-align: left;
    transition: transform 0.3s ease;
    vertical-align: top;
}
.section:hover {
    transform: scale(1.05);
    border-color: #b33beb;
}
.section img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #eb3beb;
}
.section .content {
    padding: 20px;
}

.section h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.8em;
    margin: 0 0 5px 0;
    color: #f5f6fa;
}
.section .position {
    font-size: 1.1em;
    color: #d13beb;
    font-weight: bold;
    margin-bottom: 10px;
}
.section p {
    font-size: 0.9em;
    color: #dcdde1;
    margin: 0;
}
footer {
    background-color: #00214f;
    color: #dcdde1;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    border-top: 2px solid #30feed;
}
.section {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
