body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #dad2d2;
  
}

header {
  background-color: #001089;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.about{
    padding: 20px;
    margin: 50px;
    background-color: #7484ff;
    border-radius: 10px;
    box-shadow: 0 2px 10px #006084;

}
.news{
    padding: 20px;
    margin: 50px;
    background-color: #7484ff;
    border-radius: 10px;
    box-shadow: 0 2px 10px #006084;

}
.player{
    padding: 40px;
    margin: 10px;
    background-color: #01a1f8;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    box-shadow: 0 2px 10px #7dd7f8;
}
.fam{
    text-shadow: 0 2px 10px #7dd7f8;
    color: rgb(0, 43, 69);
}
.ren{
    text-shadow: 0 2px 10px #7dd7f8;
    color: rgb(0, 35, 57);
    font-size: 20px;
    margin-bottom: 20px;
}
.famous-players 
{
   padding: 20px;
    margin: 50px;
    border-radius: 10px;
    text-shadow: 0 2px 10px #7dd7f8;
}
.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin: 50px;
  border-radius: 10px;

}
footer {
  text-align: center;
  padding: 10px;
  background-color: #99dbff;
  color: #003552;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  position : fixed;
  width: 100%;
  bottom: 0;
}

