body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #dad2d2;
  
}

header {
  background-color: #001089;
  color: white;
  padding: 20px;
  text-align: center;
}
.world {
  
  font-family: "Potta One", system-ui;
  font-weight: 400;
  font-size: 50px;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
 font-size: 30px;
  font-family: "Gamja Flower", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h2{
  font-family: "Jolly Lodger", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}
nav {
  margin-top: 10px;
}
p{
    font-size: 20px;
    line-height: 1.6;
    color: #00193c;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
li{
     font-size: 20px;
    line-height: 1.6;
    color: #00193c;
    font-family:Georgia, 'Times New Roman', Times, serif;
}




.about{
    padding: 20px;
    margin: 50px;
    background-color: #7484ff;
    border-radius: 10px;
    

}
.news{
    padding: 20px;
    margin: 50px;
    background-color: #7484ff;
    border-radius: 10px;
    

}
.player{
    padding: 40px;
    margin: 10px;
    background-color: #003c5d;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    
}


.ch{
  color: white;
  
}
.fam
{
    
    color: rgb(0, 43, 69);
}
.ren
{
    
    color: rgb(0, 35, 57);
    font-size: 30px;
    margin-bottom: 20px;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  
}
.famous-players 
{
   padding: 20px;
    margin: 50px;
    border-radius: 10px;
    text-shadow: 0 2px 10px #7dd7f8;
}
.players 
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin: 50px;
  border-radius: 10px;
}
footer 
{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem;
    background-color: #0f0141;
    color:rgb(183, 224, 250);
    text-align: center;
}
footer a 
{
    color: #1d76fc;
    text-decoration: none;
    transition: color 0.3s;
}
footer a:hover 
{
    color: #9edaff;
    text-decoration: underline;
}
.za{
  color:rgb(183, 224, 250);
}

